.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  border-top: 0;
  border-right: 0;
  border-left: 0;

  border-bottom: 0.1rem;
  border-color: #e5e7eb;
  border-style: solid;

  padding-top: 1rem;
  padding-bottom: 1rem;

  align-items: center;
  width: 100%;
  gap: 2rem;
  /* box-shadow: px px 5px 0px #e5e7eb; */
}

.navbar-button {
  background-color: white;
  border: none;
  padding: 0;
  margin: 0;
}
.navbar-options {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
}

.navbar-options button {
  width: 8rem;
  height: 2rem;
}

body {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;

  margin-bottom: 2rem;
}
.hero h1 {
  padding-top: 5rem;
  padding-bottom: 2rem;
}
.hero h5 {
  padding-bottom: 2rem;
}
.hero button {
  background-color: #2563eb;
  border: none;
  padding: 1rem;
  color: white;

  border-radius: 0.5rem;
}

.feature-card {
  display: flex;
  flex-direction: column;

  border: 0.1rem;
  border-color: #e5e7eb;
  border-style: solid;
  border-radius: 0.5rem;

  padding: 1rem;
  gap: 1rem;
}
h1,
h2,
h3,
h4,
h5,
p {
  /* padding: 0.25rem; */
  /* margin: 0.25rem  */
  padding: 0;
  margin: 0;
}

.feature-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  gap: 2rem;
}

.feature-icon-div {
  display: flex;
  justify-content: center;
}

.pricing {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pricing-toggle {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.pricing-cards {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.pricing-card {
  display: flex;
  justify-content: center;
  flex-direction: column;

  border: 0.1rem;
  border-color: #e5e7eb;
  border-style: solid;

  padding-left: 2rem;
  padding-right: 2rem;

  padding-top: 2rem;
  padding-bottom: 2rem;
}
.pricing-cost {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0;
}
.pricing-description {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.pricing-descriptions {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 425px) {
  .navbar-options {
    flex-direction: column;
  }
  .navbar {
    flex-direction: column;
    gap: 2rem;
  }

  .feature-cards {
    flex-direction: column;

    margin-right: 1rem;
    margin-left: 1rem;
  }

  .hero h5 {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  .hero h1 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
}

@media screen and (max-width: 1024px) {
  .feature-cards {
    margin-right: 1rem;
    margin-left: 1rem;
  }
}
