body {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;

  background-color: #d1efb5;
}

.main {
  background-color: #d3fad6;
  padding: 3em;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
}
input[type="text"] {
  padding: 0.5em;
  border-radius: 0.5em;
}

button {
  padding: 0.5em;
  border-radius: 0.5em;
  background-color: bisque;
}

label {
  font-size: large;
}
.count-tasks {
  font-size: x-large;
}

input[type="checkbox"] {
  width: 30px;
  height: 30px;
}

.counter-completed {
  display: flex;
  flex-direction: row;
}
.counter-total {
  display: flex;
  flex-direction: row;
}
.task {
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: center;
}
.task-list {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.count-tasks {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.ip-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}
.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  gap: 1rem;
}

@media screen and (max-width: 425px) {
  .main {
    width: max-content;
    padding: 2rem;
  }
  input[type="text"] {
    width: 100%;
  }
  .ip-container {
    flex-wrap: wrap;
  }
}
