* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  /* border: 2rem;
  border: dotted; */
}

#whiteboard-canvas {
  border: dotted;

  /* width: 90%;
  height: 50rem; */
}

.canvas-container {
  position: relative;

  /* width: 100%; */
  /* height: 100%; */
}

.btn-container {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
