* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  /* gap: 2rem; */
  /* justify-content: center; */
  align-items: center;
  /* border: 2rem;
  border: dotted; */
}

.hidden {
  display: none;
}

#whiteboard-canvas {
  border: dotted;
  margin: 2rem;
  /* margin-left: 2rem; */

  /* width: 90%;
  height: 50rem; */
}

.canvas-container {
  /* position: relative; */

  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-items: center; */

  /* width: 100%; */
  /* height: 100%; */
}

.btn-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  /* padding-left: 2rem; */

  height: 100vh;

  border: 0.1rem;
  border-color: #e5e7eb;
  border-style: solid;
}

button {
  background-color: #f3f4f6;
  border: none;
  padding: 0.5rem;

  border-radius: 0.5rem;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  border-top: 0;
  border-right: 0;
  border-left: 0;

  border-bottom: 0.1rem;
  border-color: #e5e7eb;
  border-style: solid;

  padding-top: 1rem;
  padding-bottom: 1rem;

  align-items: center;
  width: 100%;
  gap: 2rem;
}
